<h1>
    Javascript Home Page
</h1>

<button onclick="signIn()">SignIn</button>

<button onclick="callApi()">callApi</button>

<button onclick="logout()">SignOut</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.5/oidc-client.min.js"></script>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="~/main.js"></script>